.firstnumber, .secondnumber{
    height: 50px;
    font-size: 35px;
  }
  
  .operator {
    height: 50px;
    width: 50px;
    font-size: 35px;
  }
  
  .result{
    height: 50px;
    width: 500px;
    font-size: 35px;
  }
  
  .addition, .subtraction, .multiplication, .division, .percentage, .factorial, .squareroot {
    font-size: 35px;
    height: 50px;
    width: 50px;
  }
  
  .topower, .inverseof {
    font-size: 35px;
    height: 50px;
    width: 70px;
  }
  
  .logx, .sinx, .cosx, .tanx {
    font-size: 35px;
    height: 50px;
    width: 120px;
  }
  
  .C {
    font-size: 50px;
    height: 70px;
    width: 70px;
  }
  
  .button {
    font-size: 35px;
    height: 50px;
    width: 150px;
    background-color: grey;
    color: white;
  }